
body, header, footer {
  width: 100%;
  margin-right: 0px; 
  margin-left: 0px;
}

#form {
  text-align: left;
  width: 50%;
}

@media screen and (max-width: 768px) {
  /* pour les ecrans de telephones: */
  #div1, #div2, #div3, #div4, #div5, #div6, #div7, #entete, #entete2, #li, #before-footer, #kc { 
    width: 100%; 
    border-right:none ;
    border-left:none ;
    margin-right: 1px; 
    margin-left: 1px;
  }
  
  
} 

#Rs {
  border-right:none ;
  border-left:none ;
  margin-right: 1px; 
  margin-left: 1px;
}


#ul {
  list-style-type: none;
  margin: 12px;
  padding: 0;
  overflow: hidden;
  text-align: center;
  font-family: cursive;
  background-color: white;
  width: 80%;
}


#kk {
    border: 2px solid 

    margin: 100px 100px 150px 80px;

    background-color: lightblue;
    padding: 25px 100px 25px 100px; 
}

#vv{
    margin-left: 100px;
    margin-left: 100px;
}

#acc {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    text-align: center;
    font-family: "cursive,Times New Roman, serif";
    font-size: 10vw;
}
#x{color:white;
  background-color: #03224c;
  text-align: left;
  }
#xx{
  color:rgb(154, 15, 15);
  text-align: center;
  border: none Gray 1px 1px;
  width:100%;
}
#xk{border: 2px double Gray}

#kc{ background-color: gainsboro;
     color: black;
     text-align: center;
     display: grid;
     grid-template-columns: 25% 45% 30%;
   }

#cc{ background-color: gainsboro;
    color: black;
    border: 1px solid #03224c;
    padding: 15px
  }

#he{
    background-color: white;
    padding: 30px;
    text-align: center;
    font-size: 35px;
  }

#body_iaa_blog { 
  background-color:#03224c}


#li {
    float: left;
  }
  
#li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
    border-radius: 12px;
  }

#maphoto {
  border-radius: 50%;
  }

#Blog {
  margin: auto;
  background-color: #FFF4A3;
  border: solid yellow;
  padding: 30px;
}


#Bienvenue { 
  width: 800px;
  margin: auto;
  padding: 5px;
  width:100%;
}

#grid-pagetotale {
  display: grid;
  grid-template-columns: 25% 45% 30%;
  width:100%;
  }

#division {
  display: grid;
  grid-template-columns: 60% 40%;
  width:100%;
  }

#before-footer {
  color :white;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  background-color: #11114e;
  height: 300px;
  width:100%;
  border-radius: 10%;
  text-align: center;
  margin-top: 10px;
}

#entete {
  color: burlywood; 
  display: grid;
  grid-template-columns: 20% 60% 20%;
  text-align: center;
  height: 300px;
  width:100%;
  background-image: url(img/industries-agroalimentaires-700x400.png); width: 100%;
}

#div0 {
  text-align: left;
}
#entete2 {
  background-color: #354A21;
  color: whitesmoke; 
  display: grid;
  grid-template-columns: 20% 60% 20%;
  height: 90px;
  width: 100%;
  position:fixed;
  text-align: center;
  margin-top: 10px;
}
#div1, #div2 { 
  font-family: cursive;
  width:100%;
  text-align: center;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-right: 0px;
  
}

#div4 {
  margin-left: 0px;
  text-align: left;
}

#image_titre {
    border-radius: 5%;
}

#avant_topic {
  background-color:white;
  color: black; 
  display: grid;
  grid-template-columns: 30% 40% 30%;
  height: 150px;
  text-align: center;
  font-family: Lucida Handwriting;
}

#grid-topics {
  display: grid;
  grid-template-columns: 40% 50% 10%;
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
